<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <connectionStrings>
        <add name="connstrng" connectionString="Server=localhost\SQLEXPRESS01;Database=school;Trusted_Connection=True;" />
        <add name="school.Properties.Settings.schoolConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS01;Initial Catalog=school;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>